.mainNav li{
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    vertical-align: baseline;
    text-align: center;
    font-family: 'Sinhala MN';
    width: 50px;
    background-color: pink;
}

.logo{
    display: inline-block;
    text-align: center;
    width: 50px;
    padding: 0px;
    vertical-align: center;
    margin: 0px;
    background-color: aqua;
}

h1 {
    font-family: 'Sinhala MN';
    color:white;
}

p{ 
    font-family: 'Sinhala MN';
    color:white;
    text-align: justify;
    width: 500px;
    padding: 1%;
}

.heroImage {
    height: 1300px;
    padding: 25px;
    background-color: rgb(0, 0, 0);
}
.content{
    width: 500px;
    margin: 0 auto;

}
.footerNav li{
    font-family: 'Sinhala MN';
    display:inline-block; 
    vertical-align: top;
    color: white
    background-color: #373738;
    vertical-align: top;
    padding: 20px;
    
}

button{
    font-family: 'Sinhala MN';
    grid-area: hover;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 21, 21);
    width: 150px;
    text-align: center;
    height: 50px;
    border: none;
  }

  button:hover {
    background-color: red;
  }